@import 'colors';

#landing {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
    background-color: $primary;
}

#Title {
    width: 35rem;
    height: auto;
    
    text-align: center;
}


// Desktop
@media only screen and (min-width: 768px) {
    #landing {
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows:  33.3% 33.3% 33.3%;
        grid-template-areas: 
            "topleft topmiddle topright"
            "middleleft title projects"
            "bottomleft team bottomright";

    }

    #Title {
        grid-area: title;
        align-self: center;
        justify-self: center;
        width: auto;
    }

    #Projects {
        grid-area: projects;
        justify-self: end;
        align-self: center;
    }

    #Projects:hover {
        p {
            color: $alt;
        }
    }

    #Team {
        grid-area: team;
        justify-self: center;
        align-self: end;
    }

    #Team:hover {
        p {
            color: $alt;
        }
    }

    #swatch {
        grid-area: topleft;
        display: none;
    }

    .color-choice {
        border: 2px dotted black;
        width: 9rem;
        height: 9rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            color: black;
        }
    }

    #primary {
        background-color: $primary;
    }

    #secondary {
        background-color: $secondary;
    }

    #tertiary {
        background-color: $tertiary;
    }

    #dark {
        background-color: $dark;
    }
}

// Small desktop
@media only screen and (min-width: 768px) and (max-width: 910px) {
    #landing {
        position: absolute;
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows:  33.3% 33.3% 33.3%;
        grid-template-areas: 
            "topleft topmiddle topright"
            "title title projects"
            "bottomleft team bottomright";
    
    }
}
