

@import 'landing';
@import 'projects';
@import 'team';
@import 'navigation';
@import 'project-page';

html {
    scroll-snap-type: y proximity;
}

body {
    background-color: $primary;
    color: $dark;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    // font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.width-25p {
    width: 25%;
}

.width-50p {
    width: 50%;
}

.width-75p {
    width: 75%;
}

.width-100p {
    width: 100%;
}

.word-break {
    overflow-wrap: break-word;
    hyphens: auto;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.grid-column {
    grid-auto-flow: column;
}

.grid-row {
    grid-auto-flow: row;
}

.justify-items-center {
    justify-items: center;
}

.align-content-center {
    align-content: center;
}

.justify-self-left {
    justify-self: left;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-spacebetween {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: $dark;
}

.margin-auto {
    margin: auto;
}

.margin-1 {
    margin: 1rem;
}

.margin-4 {
    margin: 4rem;
}

.margin-10 {
    margin: 10rem;
}

.margin-left-1 {
    margin-left: 1.5rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-4 {
    margin-bottom: 4rem;
}

.text-indent {
    text-indent: 5rem;
}

h1 {
    font-size: 4.25rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}
p {
    font-size: 2rem;
}

span {
    font-size: inherit;
}

.button {
    color: $dark;
    padding: 1.5rem;
    transition: 0.5s;

    border-radius: 1rem;
    border: 2px solid  $accent-dark;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-tertiary {
    color: $tertiary;
}

.text-dark {
    color: $dark;
}

.text-accentdark {
    color: $accent-dark;
}



@media only screen and (min-width: 500px) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 3rem;
    }
}

// Desktop
@media only screen and (min-width: 768px) {
    body {
        overflow: hidden;
    }

    
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 5rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 2.5rem;
    }
    p {
        font-size: 3.5rem;
    }

    .button {
        color: $dark;
        border: 2px solid  $dark;
    }
    
    .button:hover {
        background-color: $accent-dark;
        color: $primary;
        transition: 0.5s;
        border: 2px solid  $accent-dark;
    }
}