@import 'colors';

// Desktop
@media only screen and (min-width: 768px) {
    .right-arrow {
        margin: 0 2rem;
    }

    .left-arrow {
        margin: 0 2rem;
    }

    .arrow-label {
        font-size: 4rem;
    }

    .back {
        width: fit-content;
        height: fit-content;
        position: fixed;
    }

    .back:hover {
        p, h1, h2, h3, h4 {
            color: $alt;
        }
    }
}

@media only screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }

    #swatch {
        display: none;
    }
}