@import 'colors';

.project-page {
    overflow: auto;
    width: 100vw;
    max-height: 100vh;

}

.divider {
    width: 60%;
    height: 2px;
    background-color: $tertiary;
    margin: 4rem auto;
}
