@import 'colors';

#projects {
    color: $dark;
    scroll-snap-align: start end;
    scroll-snap-stop: always;

    min-height: 100vh;
    
    width: 100vw;

    background-color: $primary;
}


#projects-content {
    margin: 4rem;
    margin-top: 15rem;

    span {
        color: $accent-dark;
    }
}


#HC-image {
    width: 64rem;
    height: 36rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    border-radius: 2rem;

    // Temp
    box-shadow: 0px 2px 30px 6px rgba(76,106,75,0.51);
}

// Desktop
@media only screen and (min-width: 768px) {
    #projects {
        position: absolute;
        min-height: 100vh;
        max-height: 100vh;
        transform: translateX(100vw);
        overflow-y: scroll;
        // border: 2px solid blue;
        color: $dark;
    }

}