@import 'colors';

#team-members {
    // border: 2px solid red;

    margin-top:5rem;
    width: 100vw;
    min-height: 10rem;
}


#team {
    scroll-snap-align: start end;
    scroll-snap-stop: always;
    min-height: 100vh;
    width: 100vw;

    background-color: $primary;

    h4 {
        color: $alt;
    }
}

.team-member-card {
    min-width: 2rem;
    width: 100%;
    height: auto;
    min-height: 5rem;
    
    margin: 1rem;
    padding: 2rem;
    overflow-x: auto;

    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 1rem;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.1);
}

.team-member-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}

@media only screen and (min-width: 500px) {
    .team-member-photo {
        width: 15rem;
        height: 15rem;
        border-radius: 15rem;
    }
}

@media only screen and (min-width: 1380px) {
    .team-member-card {
        width: 55rem;
    }
}

// Desktop
@media only screen and (min-width: 768px) {
    #team {
        position: absolute;
        display: block;
        width: 100vw;
        min-height: 100vh;
        max-height: 100vh;

        // border: 2px  solid red;
        transform: translateY(100vh);

        overflow-y: scroll;

    } 

    #team-content {
        margin-top: 15rem;
        
    }
    
    .team-member-photo {
        width: 20rem;
        height: 20rem;
        border-radius: 20rem;
    }   

    .team-member-card {
        margin: 1rem 2rem;
    }
}