#projects{background-color:#4C6A4B;color:#CFE2CE;scroll-snap-align:start end;scroll-snap-stop:always;min-height:100vh;width:100vw}#projects-content{margin:4rem;margin-top:15rem}#projects-content span{color:#689D4A}#HC-image{width:auto;height:auto;margin-top:4rem}@media only screen and (min-width: 768px){#projects{position:absolute;min-height:100vh;max-height:100vh;transform:translateX(100vw);overflow-y:scroll;background-color:#CFE2CE;color:#2D452F}}
