* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

h1  {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.card-desc{
  font-size: 2rem;
}

.card-title {
  font-size: 2.5rem;
}


.intext-icon{
  width: 4rem;
  height: auto;
  fill: black;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.h-5 {
  height: 5rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-point5 {
  margin-top: .5rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-point25 {
  padding: .25rem;
}

.padding-point5 {
  padding: .5rem;
}

.card {
  width: 30rem;
  height: auto;

  border-radius: 1rem;
  overflow: hidden;

  background-color: rgba(255,255,255,.2);
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  backdrop-filter: blue(10px);
  z-index: 1;
}

.tag{
  width: fit-content;
  height: auto;
  border-radius: 3rem;
  margin-top: .5rem;
  font-size: 2.5rem;

  padding: .5rem 1.5rem .5rem 1.5rem;

  display: flex;
  justify-content: center;

  margin-left: .5rem;

  background-color: goldenrod;
}